@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

/* demo */
body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 1.5rem;
  background-color: #222222;
}

body {
  background-color: #eee;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.btn {
  border-radius: 25px;
}

.new {
  font-size: 12px;
}

.card {
  padding: 20px;
  border: none;
}

.active {
  background: #f6f7fb !important;
  border-color: #f6f7fb !important;
  color: #000 !important;
  font-size: 12px;
}

.inputs {
  position: relative;
}

.form-control {
  text-indent: 15px;
  border: none;
  height: 45px;
  border-radius: 0px;
  border-bottom: 1px solid #eee;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #eee;
  outline: 0;
  box-shadow: none;
  border-bottom: 1px solid blue;
}

.form-control:focus {
  color: rgb(96, 96, 251);
}

.inputs i {
  position: absolute;
  top: 14px;
  left: 4px;
  color: #b8b9bc;
}

.star {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eee;
  margin-right: 10px;
  border-radius: 5px;
}

.time-text {
  font-size: 12px;
  color: #989898;
}

.dots {
  height: 7px;
  width: 7px;
  background-color: #eee;
  display: flex;
  border-radius: 50%;
  margin-left: 7px;
  margin-right: 7px;
}

.yellow {
  color: #ffab2e;
}

.content-text-1 {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #ffe7cc;
  color: #ffa03a;
  font-weight: 700;
}

.blue {
  color: #6ecce6;
}

.content-text-2 {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #e2f5fa;
  color: #6ecce6;
  font-weight: 700;
}

.dark-blue {
  color: #572ce8;
}

.content-text-3 {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #572ce86b;
  color: #572ce8;
  font-weight: 700;
}

.search-container {
  position: relative;
}

.search-box {
  display: flex;
  align-items: center;
}

.spinner-container {
  position: absolute;
  right: 26px;
  top: 1%;
  transform: translateY(-50%);
}

.fa-spinner {
  color: #999;
  font-size: 18px;
}

.press {
  cursor: pointer;
}

.press:hover {
  background-color: #aaa;
}

.press:active {
  background-color: #888;
}

.form-range::-webkit-slider-runnable-track {
  background: linear-gradient(
    to right,
    #222831 0%,
    #2e3744 10%,
    #2e3744 20%,
    #475365 30%,
    #393e46 40%,
    #00adb5 50%,
    #16a4ab 60%,
    #35868a 70%,
    #4d8a8e 80%,
    #eeeeee 90%,
    #eeeeee 100%
  );
}

/* Progress Bar */

.progress-outer {
  border-radius: 50px;
  padding: 25px;
}
.progress {
  height: 27px;
  margin: 0;
  overflow: visible;
  border-radius: 50px;
  background: #eaedf3;
  box-shadow: inset 0 10px 10px rgba(244, 245, 250, 0.9);
}
.progress .progress-bar {
  border-radius: 50px;
}
.progress .progress-value {
  position: relative;
  left: -45px;
  top: 4px;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #2e3744;
}

.progress-bar.active {
  animation: reverse progress-bar-stripes 0.4s linear infinite,
    animate-positive 2s;
}
@-webkit-keyframes animate-positive {
  0% {
    width: 0%;
  }
}
@keyframes animate-positive {
  0% {
    width: 0%;
  }
}

/* mt-3 manga click able */
.manga {
  cursor: pointer;
}

/* two color */
.two-color-element {
  background: linear-gradient(
    to right,
    var(--bs-primary) 100%,
    var(--bs-body-color) 0%
  );
  border: none;
  transition: width 0.3s ease;
}
